<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:href="@{/allarticles}">Articles</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="#" th:href="@{/allcomments}">Comments</a>
                    <a class="nav-link" href="#" th:href="@{/allusers}">Users</a>
                    <div sec:authorize="isAuthenticated()"><a class="nav-link" href="#" th:href="@{/newarticle}">New article</a></div>
                    <div sec:authorize="isAuthenticated()"><a class="nav-link" href="#" th:href="@{/newcomment}">New comment</a></div>
                    <div sec:authorize="!isAuthenticated()"><a class="nav-link" href="#" th:href="@{/newuser}">Register</a></div>
                    <div sec:authorize="!isAuthenticated()"><a class="nav-link" href="#" th:href="@{/login}">Login</a></div>
                    <div sec:authorize="isAuthenticated()"><a class="nav-link" href="#" th:href="@{/logout}">Logout</a></div>

                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>