<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-3">
    <div th:insert="fragments/navbar :: navbar"></div>
</div>
<div class="container">
    <div class="row mt-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Author name</th>
                <th scope="col">Article title</th>
                <th scope="col">Article content</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}">
                <td th:text="${article.getArticleUser().getName()}"></td>
                <td th:text="${article.getTitle()}"></td>
                <td th:text="${article.getContent()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>