<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-3">
    <div th:insert="fragments/navbar :: navbar"></div>
</div>
<div class="container">
    <div class="row mt-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">User name</th>
                <th scope="col">User email</th>
                <th scope="col">User description</th>
                <th scope="col">User picture</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getDescription()}"></td>
                <td th:text="${user.getProfilePicture()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>