<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-3">
    <div th:insert="fragments/navbar :: navbar"></div>
</div>
<div class="container">
    <div class="row mt-5">
        <h3>Register new user</h3>
    </div>
    <div class="row mt-3">
        <form action="#" th:action="@{/newuser}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" th:field="*{name}" placeholder="User name" id="name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" th:field="*{email}" placeholder="User email" id="email">
                <ul th:if="${#fields.hasErrors('email')}">
                    <li th:each="err : ${#fields.errors('email')}" th:text="${err}">_Input is incorrect</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="pass">Password:</label>
                <input type="password" class="form-control" th:field="*{password}" placeholder="User password" id="pass">
                <ul th:if="${#fields.hasErrors('password')}">
                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}">_Input is incorrect</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" th:field="*{description}" placeholder="User description" id="description">
            </div>
            <div class="form-group">
                <label for="picture">Picture:</label>
                <input type="text" class="form-control" th:field="*{profilePicture}" placeholder="User picture" id="picture">
            </div>
            <div class="form-group mt-5">
                <input type="submit" class="btn btn-primary" value="Add user">
            </div>
        </form>
    </div>
</div>
</body>
</html>